@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bona+Nova:wght@400;700&family=Concert+One&family=Fondamento&family=Inknut+Antiqua:wght@400;500;600;700&family=Ledger&family=Roboto+Mono&display=swap');

@font-face{
	font-family:Fondament;
	src:url(/resources/fonts/Fondamento-Regular.ttf) format("ttf");
	font-weight:400;
	font-style:normal;
	font-display:fallback
}

@font-face{
	font-family:Fondament;
	src:url(/resources/fonts/Fondamento-Italic.ttf) format("ttf");
	font-weight:400;
	font-style:italic;
	font-display:fallback
}

@font-face{
	font-family:Ledger;
	src:url(/resources/fonts/Ledger-Regular.ttf) format("ttf");
	font-weight:400;
	font-style:normal;
	font-display:fallback
}

@font-face{
	font-family:BonaNova;
	src:url(/resources/fonts/BonaNova-Regular.ttf) format("ttf");
	font-weight:400;
	font-style:normal;
	font-display:fallback
}

@font-face{
	font-family:BonaNova;
	src:url(/resources/fonts/BonaNova-Bold.ttf) format("ttf");
	font-weight:700;
	font-style:bold;
	font-display:fallback
}

@font-face{
	font-family:BonaNova;
	src:url(/resources/fonts/BonaNova-Italic.ttf) format("ttf");
	font-weight:400;
	font-style:italic;
	font-display:fallback
}

@font-face{
	font-family:Lato;
	src:url(/resources/fonts/Lato-Regular.ttf) format("ttf");
	font-weight:400;
	font-style:normal;
	font-display:fallback
}

@font-face{
	font-family:Lato;
	src:url(/resources/fonts/Lato-Bold.ttf) format("ttf");
	font-weight:700;
	font-style:bold;
	font-display:fallback
}

@font-face{
	font-family:Lato;
	src:url(/resources/fonts/Lato-Italic.ttf) format("ttf");
	font-weight:400;
	font-style:italic;
	font-display:fallback
}

@font-face{
	font-family:InknutAntiqua;
	src:url(/resources/fonts/InknutAntiqua-Regular.ttf) format("ttf");
	font-weight:400;
	font-style:normal;
	font-display:fallback
}

@font-face{
	font-family:InknutAntiqua;
	src:url(/resources/fonts/InknutAntiqua-Bold.ttf) format("ttf");
	font-weight:700;
	font-style:bold;
	font-display:fallback
}

@font-face{
	font-family:InknutAntiqua;
	src:url(/resources/fonts/InknutAntiqua-Italic.ttf) format("ttf");
	font-weight:400;
	font-style:italic;
	font-display:fallback
}

/* Custom properties/variables  */
:root {
    --main-colour: #fcfcfc;
    --second-colour: #C51;
    --third-colour: #336;
    --fourth-colour: #303841;
    --fifth-colour: #ff7f50;
    --wine-colour: #150210;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
 @media (max-width: 75em) {
    html {
      font-size: 56%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 54%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 52%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-colour);
    background-color: black;
    min-width: 480px;
  }

  @media only screen and (hover: none) and (pointer: coarse){
    body{
      min-width: 100%;
      max-width: 1080px;
    }
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-colour);
  }

  a:hover{
    color:rgb(255, 134, 69);
  }
  
  img {
    display: block;
    max-width: 100%;
  }

@media (max-width: 61.25em) {
  .nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 6rem;
    height: auto;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 0.4;
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

  .nav-list a {
    font-size: 2.4rem;
  }
  
  .nav-list li:hover {
    offset-position: 2rem 0 0 0;
    transition: all 0.2s;
  }
}


  

  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  

  .first-section {


    padding: 10vh;
    margin-left: 2vw;
    width: 100%;    
    max-width: 1600px;
    min-height: 8rem;
    height: 36vh;
    max-height: 2160px;
    
    background-color: #000;
    text-align: center;
    align-items: center;
    /*
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("https://cdnb.artstation.com/p/assets/images/images/050/680/265/large/naervern-dragon-visits-kobold-school.jpg");
    background-size: scale-down;
    background-position: 50% 0;
    background-repeat: no-repeat;*/
  }
  
  .first-section > p {
    font-size: 3rem;
    font-weight: 200;
    color: var(--main-colour);
    min-height: 100px;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
  }
  
  .first-section > h1 {
    font-family: 'Raleway', sans-serif;
  }
  
  .cert-section {
    text-align: center;
    padding: 10rem 4rem 10rem 4rem;
    background: var(--wine-colour);

  }
  
  @media (max-width: 61.25em) {
    .cert-section {
        padding: 10rem 2rem;
    }

    .first-section {
      height: auto;
      width: auto;
      padding: 6vw;
      font-size: 75%;
    }
  }

  .cert-section-header {
    max-width: 960px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-colour);
  }
  
  @media (max-width: 28.75em) {
    .cert-section-header {
      font-size: 4rem;
    }
    .first-section{
      margin-left: 0;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding-top: 2rem;
  }

  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--fourth-colour);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .project-image {
    height: calc(100% - 7.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 1rem 0.5rem;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10rem 2rem 10rem 175px;
    background: var(--fourth-colour);
    border-top: 5px solid var(--second-colour);
  }

  @media (max-width: 61.25em) {
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5% 5%;
  }
}

  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  .fine-print {
    font-size: 1.5rem;
    text-align: left;
    font-family: sans-serif;
  }

  .table-top {
    padding: 0.7rem 0.1rem 0.2rem 0.1rem;
    background-color: #000;
    align-items: center;
    text-align: center;
  }

  .table-left, .table-item {
    padding: 0.3rem 0.1rem;
    min-height: 3.6rem;
    align-items: center;
    text-align: center;
  }

  .left-anchored-text, .skill-list {
    align-self: flex;
    text-align: left;
    max-width: 1280px;
  }

  .left-anchored-text > ul {
    position: relative;
    left: 2rem;
    list-style: inside;
  }

  .left-anchored-text > ol{
    position: relative;
    list-style-position: outside;
    left: 3rem;

  }

  .left-anchored-text > ol > li {
    padding-top: 1em;
    padding-left: 1em;

  }

  .stepped-block{

  }


  #certificates li {
    margin: 2rem 0;
    padding-top: 1rem;
    display: block;
    position: relative;

  }

  #certs-list li{
    margin: 0;
  }

  #certificates li::before {
  
    padding-top: 0;
    padding-left: 2rem;
    left: 0;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;


    transition: all 0.2s ease-in-out;
    
    z-index: -1;
  }

  .skill-list, .skill-list-compact, .language-list {
    clear: both;
    list-style: none;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-gap: 5rem;
    min-width: 480px;
    max-width: 1920px;
    margin: auto;
    align-self: flex-start;
  }

  .skill-list-compact{
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  
  .skill-list p, .skill-list-compact p, .language-list p {
    border-top: 2px solid;
    border-color:var(--second-colour) !important;
    margin:0;
    padding: 2rem;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .skill-list p {
    min-width: 440px;
  }

  .language-list p {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .skill-list-compact p{
    border-top: 0;
    border-left: 2px solid;
    border-bottom: 2px solid;
  }

  #soft-skills > .skill-list-compact p{
    border-left: 0;
  }

  .skill-dual{
    left: 3vw;
    min-width: 480px;
    width: 95%;
    display: grid;
    padding: 2rem;
    position: relative;
    align-self: center;
    grid-gap: 10rem;
    grid-template-columns: minmax(240px, 2fr) minmax(360px, 3fr);
  }
  
  @media (max-width: 1200px) {
    .skill-dual{
      grid-template-columns: minmax(120px, 1fr);
    }

    .language-list {
      min-width: 600px;
    }
  }

  @media (max-width: 599px) {
    .language-list {
      min-width: 440px;
    }
  }

  #soft-skills > .skill-list-compact{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  h3 {
    font-size: 3rem;
  }

  .subtitle{
    color: #bbb;
    font-size: 85%;
    position: relative;
    
  }

  .cert-name{
    font-size: 110%;
  }

  #verify-l{
    text-decoration: underline;
  }

  .cert-2-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex;
    align-items: flex-start;
    padding: 10rem 2rem 10rem 2rem;
    background:var(--wine-colour);
    
  }
  
  .cert-2-tab {
    padding: 2rem 0 0 0;
    width: 95%;
    min-width: 720px;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-template-columns: 35% 65%;
  }

  .cert-2-header {
    position: -webkit-sticky;
    position: sticky;
    
    font-size: 3.6rem;
    vertical-align: middle;
    top: 0rem;
    padding-left: 4rem;
    background-color:#150210;
    z-index: 11;
    height: 8vh;
    width: 100%;
    padding-top: 0;
  }

  @media (max-width: 61.25em) {
    .cert-2-section {
        padding: 10rem 2rem;
    }

    .cert-2-header {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 28.75em) {
    .cert-2-header {
      font-size: 2.4rem;
    }
  }

  .list-tab {
    position: relative;
    top: 0;
    right: 0;
    line-height: 3.6rem;
    min-width: 400px;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 0.8;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;

  }

  .cert-preview {
    position: -webkit-sticky;
    position: sticky;
    overflow: auto;
    z-index: 1;
    top: 8vh;
    background-color: black;
    height: 84vh;
  }

  .list-tab a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    transition: all .6s ease-in-out;

  }
  
  .list-tab a:hover {
    background: rgb(28, 23, 21);
    color: white;
    border-radius: 30px;
    transition: all .15s;
  }

  #preview-box1 {

  }

  .cert-preview > img {
    width: 144%;
    height: auto;
    vertical-align: middle;
  }

  /* Footer */
  
    footer {
      font-weight: 300;
      display: flex;
      justify-content: space-evenly;
      padding: 2rem;
      padding-left: 155px;
      background: black;
      border-top: 5px solid var(--second-colour);
    }
    
    footer > p {
      margin: 2rem;
    }
    
    footer i {
      vertical-align: middle;
    }
    
    @media (max-width: 61.25em) {
      footer > p {
        padding-left: 5px;
      }
    }

    @media (max-width: 28.75em) {
      footer {
        flex-direction: column;
        text-align: center;
      }
    }

/* Image formatting */

  #selfie {
    position: relative; 
    float: right;
    margin: 5px;
    height: 28vh;
    top: -6vh;  
  }

  @media (max-width: 61.25em) {
    #selfie {
      float: none;
      margin: 5px;
      height: 22vh;
    }
  }

